<footer>
    <p>
      Copyright &copy; <%= new Date().getFullYear(); %> <a href="https://github.com/oulaydi" target="_blank"><i>oulaydi</i></a>, All rights Reserved.
      <span style="margin-left: 400px;">Privacy Policy | Terms & Conditions</span>
    </p>
  </footer>
