<footer>
    <p>
      Copyright &copy; <%= new Date().getFullYear(); %> <a class="ana" href="https://github.com/oulaydi" target="_blank"><i>oulaydi</i></a>, All rights Reserved.
      <span style="margin-left: 450px;">Privacy Policy | Terms & Conditions</span>
    </p>
  </footer>
