<head>
    <style>
        section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 20px; /* Optional: Add border-radius for a rounded image */
        }
        /* My Image */
        .ana {
            pointer-events: none !important;
            user-select: none !important;
            width: 500px;
            height: 500px;
            overflow: hidden;
            position: relative;
            max-height: 528px;
            filter: drop-shadow(0px 44px 34px rgba(247, 207, 162, 0.25));
            overflow: hidden;
            border-radius: var(--border-radius);
        }

        .ana img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20%;
        }
    </style>
</head>

<section>
    <h2>Who am i?</h2>
    <div>
        <p>
            My name is Oussama Oulaydi, a 21 years old computer development
            student hailing from the vibrant city of Marrakech, Morocco. Eager
            to delve into the realms of computer science, I immerse myself in
            learning new concepts and techniques, ranging from data structures
            and algorithms to artificial intelligence. My ultimate ambition is
            to become a distinguished IT manager, consistently fueling my thirst
            for knowledge and self improvement.
        </p>
    </div>
    <div>
        <img class="ana" src="/img/ana_tani.jpg" alt="just me hh" />
    </div>
</section>

<section>
    <h2>Skills and Expertise</h2>
    <p>
        Proficient in a diverse range of programming languages and technologies,
        I bring a comprehensive skill set to the table. From web development
        using HTML, CSS, JS, PHP, and MySQL to more advanced technologies like
        Node.js, Express.js, and MongoDB, my expertise extends to encompass C,
        OOP, Python, and Java. Networking is another area where I excel,
        ensuring a holistic approach to IT solutions.
    </p>
</section>

<section>
    <h2>Project Highlights</h2>
    <h3>Online Meal Ordering Web Application:</h3>
    <ul>
        <li>
            Developed a user-friendly web application for a restaurant,
            facilitating seamless online meal ordering for customers.
        </li>
        <li>
            Utilized HTML, CSS, Bootstrap, PHP, and MySQL to create intuitive
            ordering features and efficient tools for administrators.
        </li>
    </ul>

    <h3>E-commerce Website with WordPress:</h3>
    <ul>
        <li>
            Successfully built a comprehensive e-commerce website using
            WordPress, Elementor, and WooCommerce.
        </li>
        <li>
            Demonstrated proficiency in leveraging these platforms to create a
            dynamic and visually appealing online shopping experience.
        </li>
    </ul>
</section>

<section>
    <h2>Professional Philosophy:</h2>
    <p>
        My professional philosophy revolves around a commitment to continuous
        improvement and innovation. I believe in staying adaptable and embracing
        challenges as opportunities for growth. Attention to detail and a
        passion for creating meaningful solutions drive my work, ensuring that
        each project meets the highest standards.
    </p>
</section>

<section>
    <h2>Collaborations and Teamwork</h2>
    <p>
        In my collaborative endeavors, I prioritize open communication and
        mutual respect. As a proud member of the "TechVerse Maroc" community,
        I've had the privilege of contributing to a supportive team environment
        where knowledge sharing is paramount. Successful collaborations within
        this community have strengthened my belief in the power of teamwork.
    </p>
</section>

<section>
    <h2>Future Goals</h2>
    <p>
        Looking ahead, my aspirations include evolving into a seasoned IT
        manager, consistently staying abreast of industry trends, and leading
        teams toward impactful solutions. I am dedicated to maintaining a
        proactive approach to learning and adapting to the ever-changing
        landscape of technology.
    </p>
</section>

<section>
    <h2>Hobbies and Interests</h2>
    <p>
        Beyond the world of IT, I find joy in bodybuilding, relishing the
        physical challenges it presents. I am equally passionate about handball
        and swimming, activities that not only contribute to my physical
        well-being but also provide a healthy balance to my tech-centric
        pursuits. These hobbies reflect my commitment to holistic personal
        development and well-roundedness.
    </p>
</section>
