<h2>Contact Me</h2>
<section class="contact">

    <form action="/index">
        <div class="input-box">
            <div class="input-field field">
                <input type="text" placeholder="Full Name" id="name" class="item" autocomplete="off">
            </div>
            <div class="input-field field">
                <input type="text" placeholder="Email Address" id="email" class="item" autocomplete="off">
            </div>

            <div class="input-field field">
                <input type="text" placeholder="Phone Number" id="phone" class="item" autocomplete="off">
            </div>
            <div class="input-field field">
                <input type="text" placeholder="Subject" id="subject" class="item" autocomplete="off">
            </div>
        </div>

        <div class="textarea-field field">
            <textarea placeholder="Your Message" autocomplete="off" id="message" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="ping">Ping</button>
    </form>
</section>