    <section id="profile">
        <div class="author">
            <h3 class="author_heading">Software Engineer</h3>
            <h1 class="author_soub_heading">Oussama Oulaydi.</h1>
            <p class="author_body">
                Software Engineer @alx_africa | Bachelor's Degree, based in Morocco.
            </p>
            <p>Get a project? Let's talk.</p>
            <div class="ctn">
                <a href="https://www.linkedin.com/in/oussamaoulaydi" target="_blank" class="ctn-2">Contact Me</a>
                <a class="ctn-1" onclick="window.open('resume.pdf')">Download CV</a>
            </div>
        </div>
        <div class="section_pic-container">
            <img src="/img/ana.jpg" alt="this is Me"/>
        </div>
    </section>
    
    <div class="touch">
        <h1>get in touch</h1>
    </div>
    <section class="social-icons">
        <a href="https://www.linkedin.com/in/oussamaoulaydi" target="_blank" title="LinkedIn">
            <img src="https://img.icons8.com/material-rounded/48/000000/linkedin.png" alt="LinkedIn"/>
        </a>
        <a href="https://github.com/oulaydi" target="_blank" title="GitHub">
            <img src="https://img.icons8.com/material-rounded/48/000000/github.png" alt="GitHub"/>
        </a>
        <a href="https://discord.gg/oulaydi" target="_blank" title="Discord">
            <img src="https://img.icons8.com/material-rounded/48/000000/discord-logo.png" alt="Discord"/>
        </a>
        <a href="https://twitter.com/your_twitter_handle" target="_blank" title="Twitter">
            <img src="https://img.icons8.com/material-rounded/48/000000/twitter.png" alt="Twitter"/>
        </a>        
    </section>

    <br><br><br>
    <ul class="phrases-list">
        <li>Efficient Solutions,</li>
        <li>Elegant Implementations,</li>
        <li>Exceptional Experiences</li>
    </ul>
    <br>    
    <div class="container__ex">
        <main class="row">
            <!--   *******  Education Section Starts  *******   -->
            <section class="col">
                <header class="title">
                    <h3 class="author_heading">EDUCATION</h3>
                </header>
                <div class="contents">
                    <div class="box">
                        <h5>2021 - 2024</h5>
                        <h4>Bachelor's Degree - The Private University of Marrakech (UPM)</h4>
                        <a class="mini_links" href="https://upm.ac.ma/" target="_blank">upm.ma</a>
                        <p>Skills:  C (langage de programmation). · Jakarta EE · Java · UML · HTML · CSS · JavaScript · PHP · MySQL · Object-Oriented Programming (OOP) · Linux  · Système d’exploitation · Réseaux informatiques</p>
                    </div>
                    <div class="box">
                        <h5>2020 - 2021</h5>
                        <h4>Baccalaureate Degree - Ibn al-Banna' al-Marrakushi</h4>
                        <a class="mini_links" href="https://www.men.gov.ma/ar/Pages/Accueil.aspx" target="_blank">men.gov.ma</a>
                        <p>Baccalaureate, Experimental sciences.</p>
                    </div>
                </div>
            </section>
            <!--   *******  Education Section Ends  *******   -->
    
            <!--   *******  Experience Section Starts  *******  -->
            <section class="col">
                <header class="title">
                    <h3 class="author_heading">EXPERIENCE</h3>
                </header>
                <div class="contents">
                    <div class="box">
                        <h5>2023 - 2024</h5>
                        <h4>Software Engineer - ALX Africa</h4>
                        <a class="mini_links" href="https://www.alxafrica.com/" target="_blank">alxafrica.com</a>
                        <!-- <img style="height: 20px" src="https://www.alxafrica.com/wp-content/uploads/2023/10/logo-alx-white.svg" alt="alx_logo" class="alx_logo"> -->
                        <p>Skills: Linux · Système d’exploitation · Bash · C (langage de programmation) · Problem Solving · Vim · Emacs · Git · GitHub · Python (langage de programmation)</p>
                    </div>
                    <div class="box">
                        <h5>2022</h5>
                        <h4>Computer Science Intern - Marjane Holding</h4>
                        <a class="mini_links" href="https://www.marjane.ma/" target="_blank">marjane.ma</a>
                        <p>MARJANE HOLDING · Internship
                            Jul 2022 - Aug 2022 · 2 months Marrakech-Safi, Maroc · Hybrid.</p>
                    </div>
                </div>
            </section>
            <!--   *******  Experience Section Ends   *******  -->
        </main>
    </div>
    <br><br><br>