<section id="profile">
    <div class="author">
        <h3 class="author_heading">Software Engineer</h3>
        <h1 class="author_soub_heading">Oussama Oulaydi.</h1>
        <p class="author_body">
            Software Engineer @alx_africa | UPM Student, based in Morocco.
        </p>
        <p>Get a project? Let's talk.</p>
        <div class="ctn">
            <a
                href="https://www.linkedin.com/in/oussamaoulaydi"
                target="_blank"
                class="ctn-2"
                >Contact Me</a
            >
            <a class="ctn-1" onclick="window.open('resume.pdf')">Download CV</a>
        </div>
    </div>
    <div class="section_pic-container">
        <img src="/img/ana.jpg" alt="this is Me" />
    </div>
</section>

<section class="social-icons">
    <a
        href="https://www.linkedin.com/in/oussamaoulaydi"
        target="_blank"
        title="LinkedIn"
    >
        <img
            src="https://img.icons8.com/material-rounded/48/000000/linkedin.png"
            alt="LinkedIn"
        />
    </a>
    <a href="https://github.com/oulaydi" target="_blank" title="GitHub">
        <img
            src="https://img.icons8.com/material-rounded/48/000000/github.png"
            alt="GitHub"
        />
    </a>
    <a href="https://discord.gg/oulaydi" target="_blank" title="Discord">
        <img
            src="https://img.icons8.com/material-rounded/48/000000/discord-logo.png"
            alt="Discord"
        />
    </a>
</section>

<section class="skills">
    <h2 class="skills_heading">Skills</h2>

    <ul class="skill-ul">
        <li>
            <a href="#">
                <span>Skill Title</span>
                <span class="skill_level">83%</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View All Skills</a>
</section>
