@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=IBM+Plex+Sans+Arabic:wght@300;400&family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
    --black: #1C1C1C;
    --white: #edf2f4;
    --grey: #7E7E7E;
    --grey-light: #E4E4E4;
    --red: #B30000;
    --blue-1: #0a369d;
    --blue-2: #4472ca;
    --blue-3: #5e7ce2;
    --blue-4: #92b4f4;
    /* fonts */
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: var(--font-size-base);
    background-color: var(--black);
    background: linear-gradient(to bottom, black, rgb(35, 35, 35));
    margin: 0;
}

a { color: var(--white); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .7rem .75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--white);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}


/* layout */
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

/* main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}

@media only screen and (min-width: 768px){
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

.header_logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.dot{
    color: var(--blue-1);
    font-size: var(--font-size-lg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header_button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header_button button{
    display: flex;
    gap: .3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--white);
}

.header_button button:hover {
    border: 2px solid var(--blue-2);
}

/* Heder nav */
.header_nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header_nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header_nav ul a:hover {
    color: var(--blue-3);
}

.header_nav ul a:active {
    color: var(--grey);
}

/* Author - Home Page */
.author {
    flex: 1;
    padding: 120px 0;
}


.author_heading {
    text-transform: uppercase;
    color: var(--blue-4);
}

.author_soub_heading {
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
    border-left: 6px solid var(--blue-1);
    padding-left: 15px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.author_body {
    margin-bottom: 20px;
    font-size: 12px;
    color: var(--grey);
}

/* My Image */
.section_pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(44, 81, 227, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

.section_pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}

.socials {
    display: flex;
    margin-top: 10px;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ctn */

.ctn {
    margin-top: 32px;
}

.ctn-2{
    margin-left: 3%;
    border: 2px solid var(--grey);
    background-color: transparent;
    border-radius: 17px;
    letter-spacing: 0.4px;
    transition: 0.3s;
    padding: 12px 24px;
    text-decoration: none;
    margin-top: 100px;
    cursor: pointer;
    color: var(--grey);
    box-shadow: 0 .2rem 2rem var(--blue-1)
}


.ctn-2:hover {
    color: var(--white);
    border: 2px solid var(--blue-2);
    font-weight: 500;
}


.ctn-1 {
    text-decoration: none;
    position: relative;
    background-color: transparent;
    color: var(--grey);
    font-family: "Poppins";
    letter-spacing: 0px;
    border-bottom: 2.5px solid;
    border-radius: 0px;
    padding: .15rem 0;
    transition: 0.3s;
}

.ctn-1:hover {
    color: var(--white);
}

.ctn-1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--blue-2);
    transition: .3s ease-in-out;
}

.ctn-1:hover::before {
    width: 100%;
}