@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=IBM+Plex+Sans+Arabic:wght@300;400&family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
    /* --black: #1C1C1C; */
    /* Primary */
    --black: #040D12;
    --c2: #183D3D;
    --c3: #5C8374;
    --c3: #93B1A6;

    /* Secondry */
    --white: #edf2f4;
    --grey: #7E7E7E;
    --grey-light: #E4E4E4;
    --red: #B30000;
    --blue-1: #0a369d;
    --blue-2: #4472ca;
    --blue-3: #5e7ce2;
    --blue-4: #92b4f4;
    /* fonts */
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

body {
    scroll-behavior: smooth;
    user-select: none !important;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: var(--font-size-base);
    background-color: var(--black);
    background: linear-gradient(to bottom, #040D12, rgb(35, 35, 35));
    margin: 0;
}

a { color: var(--white); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .7rem .75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--white);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}


/* layout */
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

/* main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}

@media only screen and (min-width: 768px){
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

.header_logo {
    font-family: Helvetica !important;
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.dot{
    color: var(--blue-1);
    font-size: var(--font-size-lg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

button .hire_me {
    text-decoration: none;
}

.header_button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header_button button{
    cursor: pointer;
    display: flex;
    gap: .3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--white);
}

.header_button button:hover {
    border: 2px solid var(--blue-2);
}

/* Heder nav */
.header_nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header_nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header_nav ul a:hover {
    color: var(--blue-3);
}

.header_nav ul a:active {
    color: var(--grey);
}

/* Author - Home Page */
.author {
    flex: 1;
    padding: 120px 0;
}


.author_heading {
    text-transform: uppercase;
    color: var(--blue-4);
}

.author_soub_heading {
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
    border-left: 6px solid var(--grey);
    padding-left: 15px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.author_body {
    margin-bottom: 20px;
    font-size: 12px;
    color: var(--grey);
}

.touch {
    margin-top: -40px;
    text-align: center;
}

.touch h1 {
    text-transform: uppercase;
    cursor: default;
}


/* My Image */
.section_pic-container {
    pointer-events: none !important;
    user-select: none !important;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(130, 131, 132, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

.section_pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}

.socials {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.phrases-list {
    list-style-type: none;
    padding: 0;
    text-align: start;
}

.phrases-list li {
    word-spacing: 5px;
    cursor: default;
    width: fit-content;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* ctn */
.ctn {
    margin-top: 32px;
}

.ctn-2{
    margin-right: 2%;
    border: 2px solid var(--grey);
    background-color: transparent;
    border-radius: 17px;
    letter-spacing: 0.4px;
    transition: 0.3s;
    padding: 12px 24px;
    text-decoration: none;
    margin-top: 100px;
    cursor: pointer;
    color: var(--grey);
    box-shadow: 0 .2rem 2rem var(--grey)
}


.ctn-2:hover {
    color: var(--white);
    border: 2px solid var(--blue-2);
    font-weight: 500;
}

.ctn-1 {
    text-decoration: none;
    position: relative;
    background-color: transparent;
    color: var(--grey);
    font-family: "Poppins";
    letter-spacing: 0px;
    border-bottom: 2.5px solid;
    cursor: pointer;
    border-radius: 0px;
    padding: .15rem 0;
    transition: 0.3s;
}

.ctn-1:hover {
    color: var(--white);
}

.ctn-1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--blue-2);
    transition: .3s ease-in-out;
}

.ctn-1:hover::before {
    width: 100%;
}

/* icons */
.social-icons {
    justify-content: space-around;
    display: flex;
    /* justify-content: center; */
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid var(--grey-light);
}

.social-icons img {
    width: 48px;
    height: 48px;
    filter: invert(1);
    transition: filter .2s ease-in-out;
}


/* Experinces */

.container__ex{
	width: 100%;
	padding: 35px 0;
}
.container__ex{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	color: var(--blue-4);
	padding: 0px 0px 5px 0px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid var(--grey-light);
}
.col .contents .box{
	position: relative;
	/* padding: 20px; */
	/* border: 1px solid #eaeaea; */
    /* border-radius: 20px; */
	background-color: transparent;
	cursor: default;
	transition: all .2s;
	margin-bottom: 20px;
}
/* .col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
} */
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: var(--blue-3);
	border: 2px solid white;
}
.box h5{
	position: relative;
	color: var(--blue-4);
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
}
.box h4 {
    margin-bottom: 0;
}
.box p{
    line-height: 1.2;
	color: var(--grey);
	font-size: 16px;
}
.mini_links {
    color: var(--grey-light);
    text-decoration: none;
    font-family: inherit !important;
    font-size: 12px;
}

@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}

/* Footer */
footer p {
    color: var(--grey-light);
    font-size: 12px;
    font-weight: 400;
    font-family: inherit;
}

footer i, .ana{
    text-decoration: none;
    /* cursor: alias; */
    text-transform: uppercase;
    color: var(--grey);
}


/* Dashboard Admin */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-post-controls form {
    display: inline-block;
}

.admin-post-controls .btn  {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}